#home .text h1{
    margin-bottom: 2rem;
}
#home .text h1{
    font: 700 1.5rem 'Poppins', sans-serif;
}
#home .regras p {
    margin-bottom: 1rem;
}
#home .regras p a{
    color: #F0A500;
}

#home .button{
    display: flex;
    justify-content: center;
    
}
#home .button a{
    background: #F0A500;
    padding: 0.5rem 1rem;

    border-radius: 2px;
}